.image-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image-grid::after {
  content: "";
  flex: auto;
}

.item {
  margin-top: 0 !important;
  max-width: 100%;
  border-right: .5vw solid transparent;
  border-bottom: .5vw solid transparent;
  border-collapse: collapse;
  line-height: 0;
}

@media(min-width: 40em) {
  .item { max-width: 50%; }
}

@media(min-width: 60em) {
  .item { max-width: 33%; }
}

@media(min-width: 80em) {
  .item { max-width: 25%; }
}